body {
	font-family: Open Sans, Arial, sans-serif;
	font-size: 1em;
	color: #444;
	font-weight: 400;
}
#name {
	font-size: 3em;
	color:#33485e;
	text-transform: uppercase;
	border-bottom-style: solid;
	border-width: ;
}

img{
	display: none;
}

#title{
	text-transform: uppercase;
	font-size: 1.5em;
	color: #33485e;
	text-align: center;
	font-weight: 600;
	margin: 20px 0px 0px 0px;
}

.description{
	margin: 10px 0px 10px 0px;
}

.sectionheader {
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: #33485e;
	color: white;
	font-weight: 400;
	margin: 20px 0px 10px 0px;
}

.jobtitle{
	font-weight: 600;
	font-size: 1.5em;
}

.organization{
font-weight: 400;
font-size: 1.25em;
}

.date{
	font-weight: 400;
	font-style: italic;
	font-size: 1em;
	margin: 2px 0px 0px 0px;
}

.menu{
	font-size: 1em;
	margin: 0px;
	text-align: center;
	display: inline;
}
 #degrees{
 	margin: 5px 0px 0px 0px;
 }

 #do{
 	margin: 5px 0px 0px 0px;
 }

#container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 50px;
}
